# DATABASE
DATABASE_URL="postgresql://user:password@host:port/dbname"
DIRECT_URL="postgresql://user:password@host:port/dbname"

# AUTH
JWT_SECRET_KEY=your_secret_key
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password

# STRIPE
STRIPE_SECRET_KEY=sk_test_...
APP_STRIPE_CANCEL_URL=http://your-domain.com/stripe/cancel
APP_STRIPE_SUCESS_URL=http://your-domain.com/stripe/sucess
APP_STRIPE_HOME_URL=http://your-domain.com

# CLOUDINARY
APP_CLOUDINARY_CLOUD_NAME=your_cloud_name
APP_CLOUDINARY_API_KEY=184384956948358
APP_CLOUDINARY_SECRET_KEY=your_secret_key

# EMAIL (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=syedathar23m@gmail.com
EMAIL_PASSWORD=your_app_password

# OTHER
WAREHOUSE_STATE=Banglore
PORT=5000
